<html>
    <head>
        <title>{{ account.name }}</title>

        <style>
        body {
            background-color: {{ theme.options.main.background_color }}
            }
        </style>
           
            
    </head>
    <body>
        <h4>
        Meow meow party Love too code
        </h4>

        <hr>

        <h2>{{ theme.options.main.header_image.alt_text }}</h2>
        <img src="{{ theme.options.main.header_image.url }}" />
        
        <br>

        {% set insult = boxes.insults.all|random %}
        {{ insult.name }}
        
        <br>

        <em>Who made this theme? {{ theme.config.theme.name }}</em>
    </body>
</html>