<html>

        {% set insult = boxes.insults.all|random %}

    <head>
        <title>{{ account.name }}</title>

        <style>
        body {
            background-color: {{ insult.fields.background_color }}
            }
        </style>
           
            
    </head>
    <body>
        <nav>
            {% for item in navs.main %}
                <a href="{{ item.url }}">{{ item.name }}</a>
            {% endfor %}
        </nav>
{% block body %}
    <main class=“insult-container”>
        <h1>{{ insult.name }}</h1>
    </main>
        <div class=“controls”>
            <div class=“refresh”>
                <button type=“submit” onclick=refreshPage()>refresh</button>
            </div>
        </div>
{% endblock %}
    <script>
        function refreshPage(){
            window.location.reload();
        }
    </script>
    </body>
</html>